@page
@model WebApplication1.Pages.buycat

@{
  
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<form method="post">
<p>
    Catid, OrderId: <input type="text" asp-for="catId"/>
    <input type="text" asp-for="orderId"/>
    <input type="submit" value="Submit"/>



</p>
</form>
</body>
</html>